*{
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

body{
    margin: 0%;
}

/* ------HEADER------- */

header {
    height: 5em; 
    background-color: white; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header p img{
    padding-left: 50px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


header ul li{
    color: #0065fc;
    margin-right: 60px;
}

header ul li a{
    padding: 30px;
    width: 80px;
}

header ul li a:hover{
    border-top: solid 2px #0065fc;
}

#inscription-mobile{
    display: none;
}

/* -------SECTION 1 RESEARCH-------- */

.research{ 
    background-color:white;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#txt1{
    padding-left: 50px;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#txt2{
    font-size: 13px;
    padding-left: 50px;
    margin-top: 0;
}

.container-button-research{
    padding-left: 50px;
    margin-top: 20px;
}

.container-button-research i{
    background-color: #F2F2F2;
    border: solid;
    border-color: #F2F2F2;
    padding: 9px ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 2px;
    padding-bottom: 11px;
}

.research form p{
    padding-left: 50px;
}

.research input{
    width: 180px;
    padding: 10px;
    border-color: #F2F2F2;
    border-style: solid;
    border-right: none;
}

.container-button-research button{
    border-color:#0065fc;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    padding: 12px;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
}

.container-filter{
    padding-left: 50px;
    margin-top: 25px;
    height: 60px;
    display: flex;
    flex-direction: row;  
}

.container-filter i{
    background-color:#DEEBFF;
    border: solid;
    border-color: #F2F2F2;
    padding: 10px ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 2px;
    color: #0065fc;
}

.container-filter button{
    border: solid 2px #F2F2F2;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 3em;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#glass{
    visibility: hidden;
}

#filtres p{
    font-weight: bold;
}

.filters{
    margin-left: 25px;
    min-width: 150px;
    position: relative;
}

.filters button{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 20px;
    min-width: 125px;
}

.filters-button{
    min-width: 150px;
}

#filters-logo{
    display: flex;
    flex-direction: row;
}

.filters-i{
    width: 40px;
    position: absolute;
    float: left;
}

.filters i{
    border-radius: 50px;
    padding-left: 13px;
    padding-right: 13px;
}


.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 50px;
}

.info i{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    color: #0065fc;
    border:solid 2px #F2F2F2;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.info p{
    margin-left: 10px;
    font-size: 13px;
}

button:hover{
    background-color: #0065fc;
    color: #DEEBFF;
    transition-duration: 0.8s;
    cursor: pointer;
}

/* -------SECTION 2 ACCOMODATIONS-------- */

.accomodations{
    height: 34em;
    width: 100%;  
    background-color:white;
    display: flex;
    flex-direction: row;
}

#hebergements1{
    height: 100%;
    width: 66.66%;
    background-color: #F2F2F2;
    margin-left: 3%;
    margin-right: 1.5%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
}

#hebergements{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}

#hebergements1 h3{
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#hebergements1 h4{
    margin-left: 20px;
}

.hotels{
    width: 28%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
}

#hebergements1 a{
    display: block;
    width: 100%;
    height: 100%;
}

#hotel1-img{
    width: 94%;
    height: 60%;
    margin-top: 3%;
    margin-left: 3%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.hotels-container{
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.hotels-name{
    margin: 0px;
}

.prix{
    margin: 0px;
    font-size: 12px;
}

.stars{
    display: flex;
    flex-direction: row;
}

#stars1-blue i{
    color: #0065fc;
}

#stars1-grey i{
    color: lightgrey;
}

#hotel2-img{
    width: 94%;
    height: 60%;
    margin-top: 3%;
    margin-left: 3%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position-y: 65%;
    background-repeat: no-repeat;
}

.stars i{
    color: #0065fc;
}

#hotel3-img{
    width: 94%;
    height: 60%;
    margin-top: 3%;
    margin-left: 3%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position-y: 65%;
    background-repeat: no-repeat;
}

#stars3-blue i{
    color: #0065fc;
}

#stars3-grey i{
    color: lightgrey;
}

#hotel4-img{
    width: 94%;
    height: 60%;
    margin-top: 3%;
    margin-left: 3%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
}

#stars4-blue i{
    color: #0065fc;
}

#stars4-grey i{
    color: lightgrey;
}

#hotel5-img{
    width: 94%;
    height: 60%;
    margin-top: 3%;
    margin-left: 3%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
}

#stars5-blue i{
    color: #0065fc;
}

#stars5-grey i{
    color: lightgrey;
}

#hotel6-img{
    width: 94%;
    height: 60%;
    margin-top: 3%;
    margin-left: 3%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
}

.stars i{
    color: #0065fc;
}

#les-plus-populaires{
    height: 100%;
    width: 33.33%;
    background-color: #F2F2F2;
    margin-right: 3%;
    margin-left: 1.5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#les-plus-populaires a {
    display: flex;
    height: 100%;
    width: 100%;
}

#les-plus-populaires-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#les-plus-populaires h3{
    margin-left: 30px;
    margin-right: 100px;
}

#les-plus-populaires-header i{
    display:block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
}

#best-ones{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.best{
    width: 80%;
    height: 28%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    overflow: hidden;
}

#best1-img{
    width: 40%;
    height: 90%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left: 2%;
    margin-top: 2%;
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
}

.best-container{
    width: 55%;
    height: 90%;
    margin-left: 2%;
    margin-top: 2%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.best-name{
    margin: 0px;
}

.best-prix{
    margin: 0px;
    font-size: 12px;
    margin-bottom: 45px;
}

.best-stars{
    display: flex;
    flex-direction: row;
}

.best-stars i{
    color: #0065fc;
}

#best2-img{
    width: 40%;
    height: 90%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left: 2%;
    margin-top: 2%;
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
}

#best2-stars-blue{
    color: #0065fc;
}

#best2-stars-grey i{
    color: lightgrey;
}

#best3-img{
    width: 40%;
    height: 90%;
    background-color: darkcyan;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left: 2%;
    margin-top: 2%;
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
}

#best3-stars-blue{
    color: #0065fc;
}

#best3-stars-grey i{
    color: lightgrey;
}

/* -------SECTION 3 ACTIVITIES------- */

#titre-activite{
    
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-top: 60px;
}

.activities a{
    display: block;
    width: 100%;
    height: 100%;
}

.activities{
    height: 30em;
    width: 100%;  
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#activities-part1{
    height: 80%;
    width: 21%;
    background-color: white;
    border-radius: 20px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #F2F2F2, -3px 3px 5px #F2F2F2;
}

#background1{
    width: 100%;
    height: 86%;
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities-part2{
    height: 80%;
    width: 21%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activities-part2-a{
    height: 55%;
    width: 100%;
    box-shadow: 3px 3px 5px #F2F2F2, -3px 3px 5px #F2F2F2;
    border-radius: 20px;
}

#background2-a{
    height: 75%;
    width: 100%;
    background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities-part2-a h4{
    margin-left: 20px;
    font-size: 12px;
    margin-top: 20px;
}

#activities-part2-b{
    height: 35%;
    width: 100%;
    box-shadow: 3px 3px 5px #F2F2F2, -3px 3px 5px #F2F2F2;
    border-radius: 20px;
}

#background2-b{
    height: 60%;
    width: 100%;
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position-y: 40%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities-part2-b h4{
    margin-left: 20px;
    font-size: 12px;
    margin-top: 20px;
}

#activities-part3{
    height: 80%;
    width: 21%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #F2F2F2, -3px 3px 5px #F2F2F2;
}

#background3{
    width: 100%;
    height: 86%;
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities-part4{
    height: 80%;
    width: 21%;
    border-radius: 20px;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activities-part4-a{
    height: 35%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #F2F2F2, -3px 3px 5px #F2F2F2;
}

#background4-a{
    height: 75%;
    width: 100%;
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities-part4-a h4{
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    font-size: 12px;
}

#activities-part4-b{
    height: 55%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #F2F2F2, -3px 3px 5px #F2F2F2;
}

#background4-b{
    height: 75%;
    width: 100%;
    background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities-part4-b h4{
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#activities-part1 img{
    width: 100%;
    height: 88%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activities-part1 h4{
    margin-left: 15px;
    margin-top: 14px;
    margin-bottom: 20px;
    font-size: 12px;
}

#activities-part3 h4{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
}

/* -------FOOTER------- */

footer{
    width: 100%;  
    background-color:#F2F2F2;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

footer li{
    margin-bottom: 12px;
}

.footer-container{
    width: 33.33%;
    height: 100%;
}

.footer-container p{
    padding-left: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ---------------------------------RESPONSIVE VERSION------------------------------------ */

@media all and (max-width: 1024px)
{
    

    /* ---------- HEADER ----------- */

    header{
        flex-direction: column;
    }

    header p img{
        width: 200px;
    }

    .header1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 4%;
    }

    header ul{
        justify-content: space-between;
        padding-left: 0px;
    }

    header ul li{
        font-size: xx-large;
        margin-right: 0px;
        color: #0065fc;
    }

    header ul li a{
        padding-left: 120px;
        padding-right: 120px;
    }

    #activites-link:hover{
        border-bottom: solid 5px #0065fc;
        border-top: none;
        color: #0065fc;
    }

    #heberg-link:hover{
        border-bottom: solid 5px #0065fc;
        border-top: none;
        color: #0065fc;
    }

    #inscription-mobile{
        display: flex;
        padding-left: 120px;
        padding-right: 80px;
        font-weight: bold;
        color: #0065fc;
        font-size: xx-large;
    }

    #inscription-desktop{
        display: none;
    }

    #heberg-link{
        padding-left: 160px;
        border-bottom: solid 5px #F2F2F2;
    }

    #activites-link{
        padding-left: 147px;
        padding-right: 247px;
        border-bottom: solid 5px #F2F2F2;
    }

    /* ---------- SECTION 1 RESEARCH ----------- */

    .research{
        margin-top: 135px;
        padding-left: 4%;
    }

    .research input{
        padding: 24px;
        padding-top: 28px;
        width: 600px;
        font-size: xx-large;
    }

    #txt1{
        width: 70%;
        font-size: xxx-large;
    }

    #txt2{
        font-size: xx-large;
        margin-top: 5px;
    }

    .fa-map-marker-alt:before {
        content: "\f3c5";
        font-size: xx-large;
    }

    .container-filter{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 240px;
        margin-top: 0px;
        width: 60%;
    }

    .container-filter button{
        height: 71px;
        border: solid 4px #F2F2F2; 
    }

    .container-button-research i{
        padding: 30px;
        padding-bottom: 27px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .container-button-research button{
        padding: 26px;
        padding-top: 47px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-bottom: 29px;
        color: #0065fc;
    }

    #search-button{
        display: none;
    }

    .fa-search:before {
        font-size: xx-large;
    }

    #glass{
        visibility: visible;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        color: white;
        background-color: #0065fc;
        margin-left: -20px;
    }

    #filtres p{
        font-size: xx-large;
    }

    #filters-logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 290px;
    }

    .filters{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    #filters-famille{
        margin-left: 40px;
    }

    .filters button{
        margin-left: 35px;
        font-size: 23px;
        padding-left: 50px;
    }

    .fa-money-bill-wave:before {
        font-size: xx-large;
    }

    .fa-child:before {
        font-size: xx-large;
    }

    .fa-heart:before {
        font-size: xx-large;
    }

    .fa-dog:before {
        font-size: xx-large;
    }

    #dog-button{
        width: 325px;
    }

    #romantique-button{
        width: 225px;
    }

    #eco-button{
        width: 225px;
    }

    #famille-button{
        width: 225px;
        margin-left: 30px;
    }

    #logo-eco{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    #logo-famille{
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .filters i{
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .info{
        margin-bottom: 20px;
        padding-top: 140px;
        width: 705px;
    }

    .info p{
        font-size: 35px;
    }

    .info i{
        padding-left: 15px;
        padding-right: 15px;
    }

    .fa-info:before {
        font-size: xx-large;
    }

    /* ----------SECTION 2 ACCOMODATIONS----------- */

    .accomodations{
        flex-direction: column-reverse;
        height: 4500px;
    }

    #hebergements{
        height: 3000px;
    }

    #hebergements1{
        border-radius: 0px;
        background-color: white;
        width: 100%;
    }

    #hebergements1 h3{
        padding-left: 6%;
        text-align: left;
        margin-top: 30px;
        font-size: xxx-large;
        margin-bottom: 20px;
    }

    #hebergements1 h4{
        padding-left: 5%;
        font-size: xx-large
    }

    .hotels{
        width: 90%;
        height: 450px;
        box-shadow: 3px 3px 5px #F2F2F2, -3px 3px 5px #F2F2F2;
        margin-bottom: 15px;
        justify-content: flex-start;
    }

    .hotels-name{
        font-size: xxx-large;
    }

    .prix{
        font-size: xx-large;
    }

    .stars{
        padding-bottom: 20px;
        font-size: xx-large;
    }

    #les-plus-populaires{
        border-radius: 0px;
        width: 100%;
    }

    #les-plus-populaires-header{
        justify-content: space-between;
    }

    #les-plus-populaires-header h3{
        padding-left: 6%;
        font-size: xxx-large;
    }

    #les-plus-populaires-header i{
        padding-right: 6%;
    }

    .fa-chart-line:before {
        content: "\f201";
        font-size: xxx-large;
    }

    .best{
        width: 90%;
        height: 31%;
    }

    .best-stars{
        padding-left: 20px;
        font-size: xx-large;
    }

    .best-container{
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .best-name{
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 20px;
        font-size: xxx-large;
    }

    .best-prix{
        margin-bottom: 70px;
        padding-left: 20px;
        font-size: xx-large;
    }

    /* -----------SECTION 3 ACTIVITIES----------- */

    #titre-activite{
        padding-left: 6%;
        margin-bottom: 20px;
        margin-top: 40px;
        font-size: xxx-large;
    }

    .activities{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 3500px;
    }


    #activities-part1{
        margin-bottom: 15px;
        height: 15%;
        width: 90%;
    }

    #activities-part1 h4{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }

    #background1{
        height: 75%;
    }

    #activities-part2{
        height: 30%;
        width: 90%;
    }

    #activities-part2-a{
        margin-bottom: 90px;
        height: 50%;
        width: 100%;
    }

    #activities-part2-b{
        margin-bottom: 15px;
        height: 50%;
        width: 100%;
    }

    #activities-part2-a h4{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }

    #activities-part2-b h4{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }

    #background2-a{
        height: 75%;
    }

    #background2-b{
        height: 75%;
    }

    #activities-part3{
        margin-bottom: 15px;
        height: 15%;
        width: 90%;
    }

    #activities-part3 h4{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }

    #background3{
        height: 75%;
        background-position-y: 50%;
    }

    #activities-part4{
        margin-right: 0px;
        height: 30%;
        width: 90%;
    }

    #activities-part4-a{
        margin-right: 0px;
        margin-bottom: 90px;
        height: 50%;
        width: 100%;
    }

    #activities-part4-b{
        margin-right: 0px;
        margin-bottom: 15px;
        height: 50%;
        width: 100%;
    }

    #background4-a{
        height: 75%;
    }

    #background4-b{
        height: 75%;
        background-position-y: 40%;
    }

    #activities-part4-a h4{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }

    #activities-part4-b h4{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }

    /* ---------- FOOTER ----------- */

    #footer{
        display: flex;
        flex-direction: column;
    }

    footer li{
        font-size: xxx-large;
    }

    .footer-container{
        padding-left: 35px;
        width: 100%;
        background-color: #F2F2F2;
    }

    .footer-container p{
        font-size: xxx-large;
        margin-bottom: 40px;
    }

}